<!DOCTYPE html>
<html lang="en" ng-app="ajaxApp">
<head>
	<meta charset="UTF-8">
	<title>Ajax</title>
	<script src="node_modules/angular/angular.min.js"></script>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body ng-controller="ajaxCtrl">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Category</th>
							<th>Ledige pladser</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-hide="items.length">
							<td colspan="3" class="text-center">No data</td>
						</tr>
						<tr ng-repeat="item in items">
							<td>{{item.name}}</td>
							<td>{{item.category}}</td>
							<td>{{item.price | currency}}</td>

							
						</tr>
					</tbody>
				</table>
				<p><button class="btn btn-success" ng-click="loadData()">Hent data</button></p>
			</div>
		</div>	
	<script src="controller/AjaxController.js"></script>
</body>
</html>